#Login{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #1717acfa;
}

#Topbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    max-height: 130px;
}
#TopbarLogo{
    object-fit: contain;
    max-height: 130px;
    border-radius: 4px;
}

.InputLabel{
    font-size: 1rem;
    font-weight: 700;
    padding-left: 12px;
    color: slategrey;
    font-family: 'Fira Sans';
    align-self: flex-start;
    margin-left: 28px;
}

.InputForm{
    border: 2px solid black;
    display: block;
    margin: 8px;
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    outline: none;
    
}
.InputForm::placeholder{
    font-weight: 900;
    font-size: 1rem;
}

#LoginForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin: 10px 0px;
    padding-left: 10px;
}

#LoginHeading{
    font-weight: 600;
    text-transform: uppercase;
    justify-self: end;
}

#LoginFormBox{
    background-color: snow;
    box-shadow: 0 0 3px black, 0 0 6px black, 0 0  1px whitesmoke;
    border: 2px solid lightgrey;
    border-radius: 25px;

    padding: 20px 0px;

    width: 90%;
    max-width: 500px;
    height: 100%;
    max-height: 600px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
#LoginFormSubmit{
    outline: none;
    padding: 11px;
    font-size: 14px;
    font-weight: 800;
    max-width: 120px;
    margin-top: 12px;
    align-self: center;
    letter-spacing: 1px;
    border-radius: 11px;
    text-transform: uppercase;
    background-color: snow;
    color: teal;
    background-color: purple;
}

@media screen {

}